body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; background-color: #FFFFFF}
.maintitle {  font-size: 12pt; font-style: normal; font-weight: bolder}
.subtitle {  font-weight: bolder; text-decoration: underline; letter-spacing: 1.2em}
pre {  font-size: 10pt; color: #000066}
