body {  font-family: Tahoma, Verdana, Arial; font-size: 10pt; color: #000000; background-color: #CCCCCC}
td {  font-family: Tahoma, Verdana, Arial; font-size: 10pt; color: #000000;}
button {  font-family: Tahoma, Verdana, Arial; font-size: 9pt}
input {  font-family: Tahoma, Verdana, Arial; font-size: 10pt}
textarea {  font-family: Tahoma, Verdana, Arial; font-size: 10pt}
a {  color: #000000; text-decoration: none}
a:hover {  text-decoration: underline}
a:visited {  color: #000000 }

.maintitle {  font-weight: bolder}
.errorstitle {  font-family: Tahoma, Verdana, Arial; font-weight: bold; color: #FFFFFF; background-color: #660000}
.helptitle {  font-family: Tahoma, Verdana, Arial; font-size: 10pt; border-color: black black #000000; border: black; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; font-weight: bolder}
.commands {  font-family: "Courier New", Courier, mono; font-size: 9pt}
.code {  font-family: "Courier New", Courier, mono; font-size: 9pt; color: #000066}
.floatingbox { background-color: #CCCCCC; border-color: #666666 #000000 #000000 #666666; border: 1px solid }
.boxtitle { font-weight: bolder; color: #FFFFFF; background-color: #666666}

.dialog_body { font-family: Tahoma, Verdana, Arial; font-size: 9pt; color: #000000; background-color: #CCCCCC }
.dialog_td { font-family: Tahoma, Verdana, Arial; font-size: 9pt }
.dialog_input { font-family: Tahoma, Verdana, Arial; font-size: 9pt }
.dialog_button { font-family: Tahoma, Verdana, Arial; font-size: 9pt }
.dialog_select { font-family: Tahoma, Verdana, Arial; font-size: 9pt }

@media all
{
	.dragtitle {  
		behavior: url( /xml_tools/incs/drag.htc );
		cursor: move;
		font-weight: bolder; 
		color: #FFFFFF; 
		background-color: #666666}
}
