body { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9pt; }
td { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9pt; }
button { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9pt; }
.title { font-weight: bold; background-color: #CCCCCC }
select { width: 50px }